/* root */
:root {
  /* spacing */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-highest: 40px;
  /* bg */
  --bg-principal: #F8F9FF;
  --bg-addNewTask: #FFFFFF;
  --bg-blue: #004AC6;
  /* color */
  --color-grey: grey;
  --color-white: white;
}
/* generali */
h1 {
  font-weight: 600;
}
h3 {
  font-weight: 100;
}
input {
  border: none;
  outline: none;
}
button {
  border: none;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 16px;
  cursor: pointer;
}
button:hover {
  text-decoration: underline;
}
