.task {
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-white);
  padding: 18px var(--spacing-small);
  border: 1px solid var(--color-grey);
  border-radius: 16px;
}
.task.checkInput {
  background-color: var(--bg-inputCheck);
  opacity: 0.7;
}
.titleTask.checkInput {
  position: relative;
  display: inline-block; 
  text-decoration: none; 
}
.titleTask.checkInput::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: currentColor;
  transform: translateY(-50%);
}
.content,
.icons {
  gap: var(--spacing-small);
  text-align: center;
}
.check {
  width: 20px;
  height: 20px;
}
.remove {
  cursor: pointer;
}
.titleTask {
  font-weight: bold;
}
